{% extends 'base.html' %}

{% block title %} Tentang {% endblock %}

{% block content %}
<div class="page-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Beranda</a></li>
                <li class="active">Tentang</li>
            </ol>
            <div class="row">
                <!--end col-md-3-->
                <div class="col-md-12">
                    <div class="main-content">
                        <div class="title box background-color-white" id="profil">
                            <div class="left">
                                <div class="row" style="padding-left: 25px">
                                    <h1>Tentang Aplikasi</h1>
                                    <hr>
                                    <div style="display:inline-block;">
                                        <p>
                                            <h3>Latar Belakang Masalah</h3>
                                            Keberhasilan suatu projek seringkali membutuhkan wawasan dari berbagai pihak. Agar dapat memperoleh wawasan dibutuhkan sumber data digital
                                            yang bisa diperoleh melalui laman website, portal berita, dan sosial media. Salah satu sosial media yang cukup ramai digunakan oleh  masyarakat Indonesia adalah Twitter.
                                            Tingginya interaksi pengguna twitter dapat menjadi tolak ukur asumsi dan opini masyarakat terhadap suatu topik. 
                                            <hr>
                                            <h3>Solusi</h3>
                                            Menggunakan sentiment analisis dapat membantu mengetahui apakah ulasan bermakna negatif, netral maupun positif.
                                            Sehingga menganalisis data ini dapat membantu pemahaman terhadap perspektif dan opini masyarakat dapat membantu pemangku kebijakan
                                            baik dalam industri maupun pemerintahan dalam memberi keputusan, membantu proses bisnis.                                            
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}