{% extends 'base.html' %}

{% block title %} Tentang {% endblock %}

{% block content %}
<div class="page-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/">Beranda</a></li>
                <li class="active">Tentang</li>
            </ol>
            <div class="row">
                <!--end col-md-3-->
                <div class="col-md-12">
                    <div class="main-content">
                        <div class="title box background-color-white" id="profil">
                            <div class="left">
                                <div class="row" style="padding-left: 25px">
                                    <h1>Tentang Aplikasi</h1>
                                    <hr>
                                    <div style="display:inline-block;">
                                        <p>Etiam placerat mauris libero, sed elementum magna sollicitudin non. Donec dolor urna, imperdiet at ipsum at, tincidunt eleifend ipsum. Pellentesque sapien ipsum, volutpat a augue ut, ullamcorper lacinia massa. Praesent cursus turpis quis sem maximus molestie. Suspendisse vel justo ut mi vehicula semper. Donec a sapien sed felis vestibulum sodales. Pellentesque lacus ex, tincidunt non odio non, eleifend pharetra lacus. Donec urna justo, tristique quis lorem sed, luctus congue eros. Integer a diam in justo blandit tempus. Maecenas eleifend maximus placerat. Nulla ante lectus, molestie et sem sit amet, pulvinar vehicula mi. Phasellus sagittis, velit nec accumsan vestibulum, nunc arcu congue sem, sed tempor neque tortor dapibus odio.
                                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus semper accumsan arcu. Quisque maximus nisl sit amet enim venenatis laoreet. Maecenas non lobortis orci. Praesent magna velit, egestas congue tristique at, commodo vitae arcu. Pellentesque accumsan enim vulputate, vestibulum ex eget, imperdiet ex. Nullam dapibus tristique maximus. Mauris pretium elit quis elit scelerisque, eget pulvinar mauris blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam lacinia ultricies commodo. Praesent vulputate ante eget est vulputate, a consectetur lacus rhoncus. Vivamus scelerisque cursus lacus at cursus. Donec nunc sapien, egestas vitae pharetra nec, interdum eu sem. In nec sem eget tortor mattis porttitor et in ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam elementum id nibh non maximus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}