{% extends 'base.html' %}

{% block title %} Beranda {% endblock %}

{% block content %}
<div class="hero-section" data-height="600">
    {% include 'include/search-form.html' %}

    <div class="map-wrapper">
        <div class="plate white">
            <a href="#" data-switch="#form-hero" id="show-res">Tampilkan Hasil</a>
        </div>
        <div class="map height-100 text-center">
            <h3>Perhatian</h3>
            <p>Masukkan kata kunci untuk menampilkan hasil</p>
        </div>
    </div>
</div>

{% include 'include/home-content.html' %}
{% endblock %}

{% block scripts %}
<script>
    $('#show-res').trigger('click');
    $('#btn-analyze').click(function(){
        $('.tetrominos').show();
    });
</script>
{% endblock %}