<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="feature">
                    <aside class="circle">
                        <i class="icon_house_alt"></i>
                    </aside>
                    <figure>
                        <h3>Mudah digunakan</h3>
                        <p>Cukup tulis kata kunci dari suatu topik untuk mengetahui sentimen masyarakat Indonesia.
                        </p>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature">
                    <aside class="circle">
                        <i class="icon_box-checked"></i>
                    </aside>
                    <figure>
                        <h3>Menerapkan AI</h3>
                        <p>Memanfaatkan teknologi Machine Learning untuk mengenali opini publik
                        </p>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="feature">
                    <aside class="circle">
                        <i class="icon_piechart"></i>
                    </aside>
                    <figure>
                        <h3>Sajian Data</h3>
                        <p>Hasil pencarian opini disajikan kedalam beragam visualisasi yang dapat disesuaikan.
                        </p>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>


<div class="container">
    <div class="block">
        <form class="marketing-form">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group-inline vertical-align-middle no-margin">
                        <div class="form-group">
                            <h3 class="font-color-white no-margin">Senter</h3>
                            <p class="font-color-white no-margin">Know Public Opinion</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="bg color default"></div>
    </div>
</div>

<div class="container">
    <div class="block">
        <div class="title">
            <h2>Title</h2>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="review-single">
                        <a href="detail.html#reviews"><h3>Card title</h3></a>
                        <p>Donec bibendum at neque pellentesque viverra. Fusce rhoncus elementum commodo.
                            In ac nibh nec turpis finibus eleme
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg color white"></div>
    </div>
</div>