<form id="form-hero" method="POST" action="/analyze">
    <div class="hero-inner">
        <div class="hero-wrapper" >
            <div class="caption">
                <div class="inner">
                    <div class="container">
                        <h1 class="center">Know Public Opinion</h1>
                        <div class="row no-gutters">
                            <div class="col-md-8 col-sm-6">
                                <div class="form-group">
                                    <label class="label-on-input" for="address-autocomplete">Kata Kunci</label>
                                    <input type="text" class="form-control" id="address-autocomplete" name="keywords" placeholder="Masukkan Topik">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="form-group">
                                    <label class="label-on-input" for="form-nights">Tweet</label>
                                    <input type="number" class="form-control" id="form-nights" name="tnum" placeholder="Max: 1000" 
                                    value="100" min="10" max="1000">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default" id="btn-analyze">Identifikasi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-transfer"><img src="{{ url_for('static', filename='img/bg-hero.jpg') }}"alt=""></div>
                </div>
            </div>
            <div class="options">
                <div class="container">
                    <div class="wrapper">
                        <h2>Visualisasi</h2>
                        <div class="row">
                            <div class="col-md-12 col-sm-9">
                                <ul class="checkboxes inline list-unstyled">
                                    <li><label><input type="checkbox" name="sna" checked>Social Network Analysis</label></li>
                                    <li><label><input type="checkbox" name="pie" checked>Piechart</label></li>
                                    <li><label><input type="checkbox" name="wc" checked>WordCloud</label></li>
                                    <li><label><input type="checkbox" name="tab" checked>Table</label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="options-hidden" class="collapse">
            <div class="container">
                <div class="wrapper">
                    <h2>Pengaturan Lanjutan</h2>
                    <div class="row">
                        <div class="col-md-12 col-sm-9">
                            <ul class="checkboxes inline">
                                Tidak ada
                            </ul>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="plate">
        <a data-toggle="collapse" href="#options-hidden" aria-expanded="false" aria-controls="options-hidden">View Further Options</a>
    </div>
</form>