/* Nav */
#brand .logo{
    width:90px;
}
#page-header .primary-nav{
    padding: 0;
}

/* Foot */
.logos .logo img{
    max-height: 60px;
}

/* Misc */
.sosmed {
    padding: 20px
}
.text-center {
    text-align: center;
}
.dev-pict{
    max-width: 220px;
    border-radius: 25px;
}

/* Table */
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: var(--primary);
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--primary);
}

table tbody tr.active-row {
    font-weight: bold;
    color: var(--primary);
}